/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.modalBackground {
    background-color: #e6e6e6;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.validator {
    color: red;
}

.PagerStyle a, .PagerStyle span {
    display: block;
    height: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
}

.PagerStyle a {
    border: 1px solid #000;
    background-color: #D7E6FF;
}

.PagerStyle span {
    background-color: #f9f9f9;
    color: #000;
    border: 1px solid #000;
}

.PagerStyle td {
    padding-left: 2px;
}
