Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/WebSites/WorkflowManagment/SVUploads/Purchase request issues.docx
/WebSites/WorkflowManagment/SVUploads/Purchase request issues (2).docx
/WebSites/WorkflowManagment/SVUploads/Journal Entry - 'TR-247'.xlsx
/WebSites/WorkflowManagment/SVUploads/Hi Ana (1) (1).docx
/WebSites/WorkflowManagment/SVUploads/ExpenseType.txt
/WebSites/WorkflowManagment/SVUploads/DHIS2.docx
/WebSites/WorkflowManagment/SVUploads/Copy of ADA Import Template.xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Plan Import Template (1).xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Import Template.xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Import Template (12).xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Import Template (1).xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Financial Estimate.docx
/WebSites/WorkflowManagment/SVUploads/ADA Application User Manual.htm
/WebSites/WorkflowManagment/SVUploads
/WebSites/WorkflowManagment/CSUploads/Introduction.docx
/WebSites/WorkflowManagment/CSUploads
/WebSites/WorkflowManagment/BAUploads/Purchase request issues.docx
/WebSites/WorkflowManagment/BAUploads/Purchase request issues (2).docx
/WebSites/WorkflowManagment/BAUploads/newsletter.txt
/WebSites/WorkflowManagment/BAUploads/Copy of ADA Import Template.xlsx
/WebSites/WorkflowManagment/BAUploads/ADA Import Template (12).xlsx
/WebSites/WorkflowManagment/BAUploads/ADA Import Template (1).xlsx
/WebSites/WorkflowManagment/BAUploads/ADA Application User Manual.htm
/WebSites/WorkflowManagment/BAUploads
/WebSites/WorkflowManagment/Approval/frmPurchaseApproval.aspx.exclude
/WebSites/WorkflowManagment/Approval/frmPurchaseApproval.aspx.cs.exclude
/WebSites/WorkflowManagment/Approval
/WebSites/WorkflowManagment
/packages/Microsoft.Report.Viewer.11.0.0.0/Microsoft.Report.Viewer.11.0.0.0.nuspec
/packages/Microsoft.Report.Viewer.11.0.0.0/Microsoft.Report.Viewer.11.0.0.0.nupkg
/packages/Microsoft.Report.Viewer.11.0.0.0
