<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZADSEntities" connectionString="metadata=res://*/ZADSEntities.csdl|res://*/ZADSEntities.ssdl|res://*/ZADSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TFSERVER;initial catalog=ZADS;persist security info=True;user id=webuser;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>