<configuration>
  <configSections>
    <sectionGroup name="compositeWeb">
	  <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
	  <section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
	</sectionGroup>
  </configSections>
  <compositeWeb>
    <modules>
      <module name="Chai.WorkflowManagment.Modules.Admin" assemblyName="Chai.WorkflowManagment.Modules.Admin" virtualPath="~/Admin">
		<dependencies>
          <dependency module="Chai.WorkflowManagment.Modules.Shell" />
        </dependencies>
      </module>
    </modules>
  </compositeWeb>
  <appSettings/>
  <connectionStrings/>
  <system.web />  
</configuration>
