<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="compositeWeb">
      <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb" />
      <section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb" />
    </sectionGroup>
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="ChaiTechnicalSettings" type="Chai.WorkflowManagment.Shared.ChaiTechnicalSectionHandler, Chai.WorkflowManagment.Shared" />
  </configSections>
  <ChaiTechnicalSettings>
    <add setting="TemplateDir" value="~/Templates" />
    <add setting="ImageDir" value="~/UserFiles/Image" />
    <add setting="ItemImageDir" value="~/ItemFiles" />
    <add setting="SuperUser" value="admin" />
    <add setting="AdministratorRole" value="Administrator" />
    <add setting="SMTPServer" value="localhost" />
    <add setting="RedirectToLoginWhenAccessDenied" value="false" />
    <add setting="FCKeditor:UserFilesPath" value="~/UserFiles" />
    <add setting="MessageIcon" value="~/Images/{0}.gif" />
    <!--<add setting="ConnectionString" value="Data Source=tfserver;Initial Catalog=WorkflowManagment;User id=webuser;Password=password;MultipleActiveResultSets=True" />-->
    <add setting="ConnectionString" value="Data Source=ET-PC0A3LX2\KBSQL;Initial Catalog=WorkflowManagmentTest;User ID=KB;Password=kgcom.;MultipleActiveResultSets=True" />
  </ChaiTechnicalSettings>
  <appSettings>
    <add key="ReportPath" value="~/Report/" />
    <add key="FinanceManager" value="Shiella"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="WorkflowManagmentEntities" connectionString="metadata=res://*/WorkflowManagmentEntities.csdl|res://*/WorkflowManagmentEntities.ssdl|res://*/WorkflowManagmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TFSERVER;initial catalog=WorkflowManagment;persist security info=True;user id=webuser;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="WorkflowManagmentConnectionString" connectionString="Data Source=ET-PC0A3LX2\KBSQL;Initial Catalog=WorkflowManagmentTest;User ID=KB;Password=kgcom.;MultipleActiveResultSets=True" />
    <add name="WorkflowManagmentReportConnectionString" connectionString="Data Source=ET-PC0A3LX2\KBSQL;Initial Catalog=WorkflowManagmentTest;User ID=KB;Password=kgcom." providerName="System.Data.SqlClient" />
  </connectionStrings>
  <compositeWeb>
    <modules>
      <module name="Chai.WorkflowManagment.Modules.Shell" assemblyName="Chai.WorkflowManagment.Modules.Shell" virtualPath="~/" />
      <module name="Chai.WorkflowManagment.CoreDomain" assemblyName="Chai.WorkflowManagment.CoreDomain" />
      <!--<module name="Chai.WorkflowManagment.DataAccess" assemblyName="Chai.WorkflowManagment.DataAccess"/>
			<module name="Chai.WorkflowManagment.DBConnection" assemblyName="Chai.WorkflowManagment.DBConnection"/>-->
      <module name="Chai.WorkflowManagment.Enums" assemblyName="Chai.WorkflowManagment.Enums" />
      <module name="Chai.WorkflowManagment.ServerControls" assemblyName="Chai.WorkflowManagment.ServerControls" />
      <module name="Chai.WorkflowManagment.Services" assemblyName="Chai.WorkflowManagment.Services" />
      <module name="Chai.WorkflowManagment.Shared" assemblyName="Chai.WorkflowManagment.Shared" />
    </modules>
  </compositeWeb>
  <securityConfiguration defaultAuthorizationInstance="RuleProvider" defaultSecurityCacheInstance="">
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="RuleProvider">
        <rules>
        </rules>
      </add>
    </authorizationProviders>
  </securityConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!-- <log4net configSource="log4net.config" /> -->
  <log4net>    
    <appender name="AuditTrail" type="log4net.Appender.RollingFileAppender">
      <file value="AuditTrail.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="Errors" type="log4net.Appender.RollingFileAppender">
      <file value="ErrorExceptions.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="LoginAttempts" type="log4net.Appender.RollingFileAppender">
      <file value="FailedLogins.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    
    <logger name="AuditTrailLog">
      <appender-ref ref="AuditTrail" />
    </logger>
    <logger name="ErrorLog">
      <appender-ref ref="Errors" />
    </logger>
    <logger name="FailedLoginLog">
      <appender-ref ref="LoginAttempts" />
    </logger>
  
  </log4net>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="GlobalExceptionLogger">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="UserLogin.aspx" name=".ASPXFORMSAUTH" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
        <customErrors mode="On" defaultRedirect="Oops.aspx" >

    </customErrors>
    <siteMap defaultProvider="DefaultSiteMapProvider" enabled="true">
      <providers>
        <add name="DefaultSiteMapProvider" type="Microsoft.Practices.CompositeWeb.Providers.ModuleSiteMapProvider, Microsoft.Practices.CompositeWeb" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <!--<pages styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>-->
    <httpModules>
      <add name="AuthenticationModule" type="Chai.WorkflowManagment.Modules.Shell.AuthenticationModule, Chai.WorkflowManagment.Modules.Shell" />
      <add name="ExceptionLoggerHttpModule" type="Microsoft.Practices.CompositeWeb.EnterpriseLibrary.ExceptionLogger, Microsoft.Practices.CompositeWeb.EnterpriseLibrary" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <identity impersonate="true" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
  </system.webServer>
  <system.net>
    <mailSettings>
       <smtp deliveryMethod="Network" from="chaizim.wfms@gmail.com">
        <network
          host="smtp.gmail.com"
          port="587"
          defaultCredentials="true"
          userName="chaizim.wfms@gmail.com"
          password="ChaiZim@12345"
          enableSsl="true"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>